.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a.logout { float: right; }

#header {
  padding: 5px;
  min-height:70px;
  width:100%;
  background-color: darkslateblue;
  border-bottom: 8px solid #AAAAAA;
}

#header h1 {
  color:white;
  position: relative;
  top:35px;
  font-family: arial;
  font-size:2.5em;
}

#droppedFriends {
  width:100%;
  padding:10px 0px;
}

#content {
  width: 98%;
  padding: 10px;
  margin: 0;
  font-family: 'IM Fell English', arial, serif;
  font-size: 1.2em;
}

div.friendContainer {
  text-align: center;
  border: 2px dashed #AAAAAA;
  width:75px;
  margin:15px;
  float:left;
  padding: 5px;
  background-color: #FFFFFF;
  height: 75px;
}

div.friendContainer:hover {
  background-color: #DDDDDD;
}

#dbFriends {
  width:50%;
  float:right;
}

#siteshout {
  padding-top: 15px;
  display: block;
}

#siteshout h1 {
  font-family: arial;
}

#siteshout img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sitedesc {
  margin-top: 20px;
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  border: 3px dashed black;
  background-color: #FFFF99;
  padding:5px;
  width:75%;
  font-family: 'IM Fell English', arial, serif;
  font-size: 1.3em;
}

